
*{
    font-family: 'Gamja Flower', cursive;
}

.navbar-item{
    font-size: 30px;
}

.is-large {
    min-height: border-box;
    max-height: border-box;
    height: auto;
}

.formargin {
    margin-top: 50px;
    clear: both;
}

.to_left {
    float: left;
    margin: 20px;
}

.G_name {
    font-size: 25px;
    padding-top: 5px ;
    padding-bottom: 10px;
}

.g_box {
    width: 250px;
    height: 270px;
}

.g_image {
    width: 250px;
    height: 150px;
}

.b_jump {
    margin-left: 10px;
}

.button {
    font-family: 'Gamja Flower', cursive;
}
.item:hover {
    filter: brightness(75%);
}
/*footer를 페이지 하단에 붙이기*/
html, body {
    height: 100%;
}

.is-large {
    position: absolute;
    width: 100vw;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    position: relative;
    padding-top: 107px;
    padding-bottom: 130px;
}
.footer {
    width: 100vw;
    position: absolute;
    transform: translateY(-100%);
}