
*{
    font-family: 'Gamja Flower', cursive;
}

.navbar-item{
    font-size: 30px;
}

.is-large {
    min-height: border-box;
    max-height: border-box;
    height: 1000px;
}

.formargin {
    margin-top: 50px;

}

.to_left {
    float: left;
    margin: 20px;
}

.G_name {
    font-size: 25px;
    padding-top: 5px ;
    padding-bottom: 10px;
}

.g_box {
    width: 250px;
    height: 270px;
}

.g_image {
    width: 250px;
    height: 150px;
}

.b_jump {
    margin-left 10px;
}