
.luffy {
    max-height: 200%;
    height: border-box;
}

.formargin {
    margin-top: 50px;

}

.to_left {
    float: left;
    margin: 20px;
}

.G_name {
    font-size: 25px;
    padding-top: 5px ;
    padding-bottom: 10px;
}

.g_box {
    width: 250px;
    height: 250px;
}

.g_image {
    width: 250px;
    height: 150px;
}

.b_jump {
    margin-left 10px;
}