* {
    font-family: 'Gamja Flower', cursive;
}

.input {
    font-family: 'Gamja Flower', cursive;
}

.button {
    font-family: 'Gamja Flower', cursive;
}

.navbar-item {
    font-size: 30px;
}

.is-large {
    min-height: border-box;
    max-height: border-box;
    height: auto;
}

.mini-title {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 20px auto;
}

.mygame {
    width: 95%;
    max-width: 500px;
    max-height: 400px;
    margin: 20px auto 20px auto;

    box-shadow: 0px 0px 3px 0px black;
    padding: 20px;
}

.example-image {
    width: auto;
    height: 140px;
    margin: 10px auto;
}

/*footer를 페이지 하단에 붙이기*/
html, body {
    height: 100%;
}

.is-large {
    position: absolute;
    width: 100%;
}

.wrap {
    height: auto;
    min-height: 100%;
    position: relative;
    padding-top: 61px;
    padding-bottom: 168px;
}
.footer {
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
}